.about {
  margin: 0;
  padding: 0 2rem;
  @include respond(sm) {
    padding: 0;
    margin: 0 auto 20rem;
  }

  &-text {
    p:not(:last-child) {
      margin: 0 0 2rem 0;
    }

    @include respond(sm) {
      width: 100%;
    }
  }
}
