@import url(https://fonts.googleapis.com/css?family=Lobster);

#header {
    background-color:#00ffff;
    height:60px;
    border:solid black;
    position:fixed;
    left:0;
    right:0;
    top:-5px;
    border-radius: 5px;
    float:top;
    z-index:1;
}

#header h1 {
    color: #444;
    margin:0;
    font-family: Lobster,times,Times New Roman;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

html,body {
    background-color: #CAC6C5;
    margin:0;
    padding:0;
}

.left {
    background-color: #ff9999;
    height: 1000px;
    width:50%;
    float: left;
    display:inline-block;
}

.left h3 {
    font-family: Sans-Serif;
    padding-top: 70px;
    margin-left: 50%;
    color: #FFFFFF;
}

.left ul {
    font-family: Sans-Serif;
    color:#FFFFFF;
    margin-left: 50%;
}

.right {
    background-color: #ff9999;
    height: 1000px;
    width: 50%;
    float: right;
    display:inline-block;
}

.right p {
    padding-top: 70px;
    margin-left: 70px;
    color: #FFFFFF;
}

#footer {
    display:inline-block;
    background-color:black;
    width:100%;
    height:60px;
    clear:both;
}

#footer h3 {
    color: #FFFFFF;
    text-align: center;
}
