@import url(https://fonts.googleapis.com/css?family=Lobster);

#header {
    background-image: url("images/flippedMistyMountains.jpg");
    height: 900px;
    width: 100%;
    left:0;
    right:0;
}

#header h1 {
    display: none;
    color: black;
    margin:0;
    font-family: Lobster,times,Times New Roman;
    font-size: 6.250em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.031em #58FFDF;
}

#header p {
    color: black;
    font-family: Lobster;
    font-size: 30px;
    top: 60%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    word-spacing: 20px;
    -webkit-text-stroke: 0.5px #58FFDF;
}

#header p A {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 0.5px #58FFDF;
}

#header p A:visited {
    color:black;
    -webkit-text-stroke: 0.5px #58FFDF;
}

#header p A:hover {
    color: black;
    -webkit-text-stroke: 0.5px #58FFDF;
}

#header p A:active {
    color: black;
    -webkit-text-stroke: 0.5px #58FFDF;
}

#twitter {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30%;
    left: 43%;
    margin-right: -60%;
    transform: translate(-50%, -50%);
}

#github {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#linkedin {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30%;
    left: 57%;
    margin-right: -43%;
    transform: translate(-50%, -50%);
}

#about {
    background-image: url("images/temp.jpg");
    width: 100%;
    height: 900px;
}

#about p {
    position: relative;
    font-family: Lobster;
    font-size: 30px;
    text-align:center;
    padding: 0;
    margin: 0;
    top: -20%;
}

table, th, td {
    border: 1px solid black;
}

#work {
    background-image: url("images/flippedClouds.jpeg");
    width: 100%;
    height: 900px;
}


/* Don't change */
#contact {
    background-image: url("images/mistyMountains.jpg");
    width: 100%;
    height: 900px;
}

#contactInfo {
    margin: 0;
    color: black;
    font-family: Lobster;
    font-size: 40px;
    position: relative;
    top: 30%;
    left: 10%;
    word-spacing: 10px;
    -webkit-text-stroke: 0.5px #58FFDF;
}

html,body {
    background-color: black;
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
}

#footer {
    display:inline-block;
    background-color:black;
    width:100%;
    height:60px;
    clear:both;
}

#footer h3 {
    color: #58FFDF;
    text-align: center;
}
