.portfolio {
  &__item {
    margin: 7rem 0;
    width: 100%;
  }

  &__header {
    text-align: center;
    margin: 0 0 3rem;
  }

  &__title {
    display: inline-block;
    background-color: $color-primary;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    padding: 0.8rem;
    transform: skewY(-5deg);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__image {
    padding: 0 2rem;

    img {
      border: 1px solid #eeeeee;
      border-radius: 7px;
      height: 100%;
      width: 100%;
      box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__body {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  &__copy {
    line-height: 1.7;
  }
}
