@use "sass:color";

.experience {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.6rem;
  margin: 4rem 2.5rem;

  @include respond(md) {
    grid-template-columns: 1fr 4fr;
    gap: 3rem;
    margin: 0 0 3rem;
  }

  &__list {
    margin-top: 6rem;

    @include respond(lg) {
      margin-top: 0rem;
    }
  }

  &__time {
    white-space: nowrap;
    color: $color-primary;
    padding-top: 0.5rem;

    @include respond(lg) {
      text-align: end;
    }
  }

  &__title {
    color: $color-primary;
    font-size: 1.75rem;

    @include respond(lg) {
      font-size: 2rem;
    }

    .middot {
      margin: 0 0.75rem;
    }
  }

  &__description-list {
    margin: 0.75rem 0 0;
    padding: 0 0 0 1rem;

    li {
      color: $color-primary;

      span {
        color: black;
      }
    }
  }

  &__skill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.75rem 0 0;
  }

  &__skill {
    border-radius: 20px;
    color: $color-primary;
    background-color: rgba($color-primary, 0.1);
    padding: 0.25rem 0.8rem;
  }
}
