.nav {
  background-color: white;
  height: 7rem;
  position: fixed;
  width: 100%;
  box-shadow: $shadow-md;
  animation: slide-in-down 0.7s ease-in-out;
  z-index: 10;

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    @include respond(xl) {
      padding: 0;
    }
  }

  &__logo {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 400;
  }

  &__list {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

    @include respond(sm) {
      display: inline;
      height: 100%;
      position: relative;
    }

    &--show {
      transform: translateX(0);
    }
  }

  &__link {
    display: inline-block;
    padding: 0 1rem;
    user-select: none;
    margin: 0 0 2rem 0;

    @include respond(sm) {
      margin: 0;
    }

    button {
      font-size: 1.65rem;
      font-family: $primary-default-font;
      display: inline-block;
      border: none;
      background: transparent;
      cursor: pointer;
      color: black;
      text-decoration: none;
      transition: all 0.2s;
      outline: none;

      &:hover {
        color: $color-primary;
        transform: translateY(-0.2rem) scale(1.02);
      }
    }

    &--1 {
      animation: pop-in 0.4s ease-out;
    }

    &--2 {
      animation: pop-in 0.6s ease-out;
    }

    &--3 {
      animation: pop-in 0.8s ease-out;
    }
  }

  &__toggle {
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;

    @include respond(sm) {
      display: none;
    }
  }

  &__burger {
    &,
    &::before,
    &::after {
      top: 50%;
      left: 50%;
      background-color: black;
      border-radius: 8px;
      content: "";
      width: 30px;
      height: 4px;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }

    &::before {
      transform: translate(-50%, -50%) translateY(10px);
    }

    &::after {
      transform: translate(-50%, -50%) translateY(-10px);
    }

    &--checked {
      & {
        background-color: transparent;
      }

      &::before {
        transform: translate(-50%, -50%) translateY(0px) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) translateY(0px) rotate(-45deg);
      }
    }
  }
}

@keyframes pop-in {
  0% {
    //opacity: 0;
    transform: translateY(20px);
  }

  20% {
    opacity: 0;
  }

  80% {
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
