.portfolio {
  &__item {
    margin: 7rem 0;
    width: 100%;

    &:nth-of-type(2n) .portfolio__title {
      transform: skewY(5deg);
    }

    @include respond(lg) {
      &:nth-of-type(2n) .portfolio__content {
        order: 2;
      }

      &:nth-of-type(2n) .portfolio__image {
        order: 1;
      }
    }
  }

  &__header {
    text-align: center;
    margin: 0 0 3rem;
  }

  &__title {
    display: inline-block;
    background-color: $color-primary;
    border-radius: 8px;
    box-shadow: $shadow;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    padding: 0.8rem;
    transform: skewY(-5deg);
    backface-visibility: hidden;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;

    @include respond(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image {
    padding: 0 2rem;
    margin: 0 0 2rem;

    @include respond(lg) {
      margin: 0;
    }

    img {
      border-radius: 7px;
      height: 100%;
      width: 100%;
      box-shadow: $shadow-md;
    }
  }

  &__body {
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
  }

  &__copy {
    line-height: 1.7;
    margin: 0 0 2rem;

    @include respond(lg) {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
    background-color: $color-primary;
    color: white;
    border-radius: 25px;
    padding: 1.152rem 2.678rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    box-shadow: $shadow;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      font-size: rem;
      margin-right: 0.75rem;
    }

    &,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      transform: translateY(-0.3rem);
    }

    &--outlined {
      border: 1px solid $color-primary;
      background: transparent;
      color: $color-primary;
    }
  }
}
