@keyframes slide-in-right {
	0% {
		opacity: 0;
		transform: translateX(5rem);
	}
	75%{
		transform: translateX(-0.8rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-in-left {
	0% {
		opacity: 0;
		transform: translateX(-5rem);
	}
	75%{
		transform: translateX(0.8rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}