$color-primary: #5411be;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 10%);

$color-grey-1: #6b6a6a;

$primary-default-font: 'Montserrat', san-serif;
$secondary-default-font: Arial, san-serif;