$color-primary: #5411be;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 10%);


$primary-default-font: 'Montserrat', san-serif;
$secondary-default-font: Arial, san-serif;