html {
  font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: $primary-default-font;
}

.container {
  width: 100%;

  @include respond(sm) {
    max-width: 640px;
  }

  @include respond(md) {
    max-width: 768px;
  }

  @include respond(lg) {
    max-width: 1024px;
  }

  @include respond(xl) {
    max-width: 1280;
  }
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.align {
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}

.justify {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-around {
    justify-content: space-around;
  }

  &-between {
    justify-content: space-between;
  }

  &-evenly {
    justify-content: space-evenly;
  }
}

.w,
.h {
  &-full {
    width: 100%;
  }
}

.m {
  &y {
    &-1 {
      margin: 2rem 0;
    }
    &-2 {
      margin: 4rem 0;
    }
    &-3 {
      margin: 6rem 0;
    }
    &-4 {
      margin: 8rem 0;
    }
  }

  &x {
    &-auto {
      margin: 0 auto;
    }
    &-1 {
      margin: 0 2rem;
    }
    &-2 {
      margin: 0 4rem;
    }
    &-3 {
      margin: 0 6rem;
    }
    &-4 {
      margin: 0 8rem;
    }
  }

  &b {
    &-1 {
      margin-bottom: 2rem;
    }
    &-2 {
      margin-bottom: 4rem;
    }
    &-3 {
      margin-bottom: 6rem;
    }
    &-4 {
      margin-bottom: 8rem;
    }
  }

  &r {
    &-1 {
      margin-right: 2rem;
    }
    &-2 {
      margin-right: 4rem;
    }
    &-3 {
      margin-right: 6rem;
    }
    &-4 {
      margin-right: 8rem;
    }
  }

  &t {
    &-1 {
      margin-top: 2rem;
    }
    &-2 {
      margin-top: 4rem;
    }
    &-3 {
      margin-top: 6rem;
    }
    &-4 {
      margin-top: 8rem;
    }
  }
}

.p {
  &x {
    &-1 {
      padding: 0 1.5rem;
    }
    &-2 {
      padding: 0 3rem;
    }
    &-3 {
      padding: 0 6rem;
    }
    &-4 {
      padding: 0 9rem;
    }
  }

  &r {
    &-1 {
      padding-right: 1.5rem;
    }
    &-2 {
      padding-right: 3rem;
    }
    &-3 {
      padding-right: 6rem;
    }
    &-4 {
      padding-right: 9rem;
    }
  }
}

.highlight {
  color: $color-primary;
}
