@font-face {
  font-family: Google Sans;
  // src: url("./GoogleSans-Regular.ttf");
  src: url('../assets/fonts/GoogleSans-Regular.ttf');
}

.header {
  &-primary {
    font-family: 'Google Sans', sans-serif;
    letter-spacing: 0.1rem;
    text-rendering: optimizeLegibility;

    font-size: 3.5rem;

    @include respond(sm) {
      font-size: 4.75rem;
    }

    @include respond(md) {
      font-size: 6rem;
    }

    @include respond(xl) {
      font-size: 6.5rem;
    }
  }

  &-secondary {
    color: $color-primary;
    font-family: $primary-default-font;
    font-size: 3.5rem;
    font-weight: 400;
  }

  &-tertiary {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.subtitle {
  color: $color-grey-1;
  font-family: $primary-default-font;
  font-weight: 400;
  font-size: 1.5rem;

  @include respond(xl) {
    font-size: 2.5rem;
  }
}

.paragraph {
  font-family: $primary-default-font;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 3rem;
}

.text-center {
  text-align: center;
}

.mark {
  color: $color-primary;
}
